.credencial-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
    padding: 10px;
}
  
  .credencial {
    width: 100%;
    max-width: 100%;
    aspect-ratio: 1.5;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  .credencial-background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 8px;
    object-fit: cover;
  }
  
  .nombre-apellido {
    position: absolute;
    top: 26%;
    left: 50%;
    font-size: clamp(8px, 4vw, 12px);
    color: #000;
    transform: translateX(-50%);
    white-space: nowrap;
    font-family: Arial, sans-serif;
  }
  
  .dni {
    position: absolute;
    top: 39%;
    left: 49%;
    font-size: clamp(7px, 1.2vw, 13px);
    color: #000;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    font-family: Arial, sans-serif;
  }
  
  .vencimiento {
    position: absolute;
    bottom: 2%;
    right: 7%;
    font-size: clamp(8px, 1.3vw, 14px);
    color: #000;
    white-space: nowrap;
    font-family: Arial, sans-serif;
  }
  
  @media (max-width: 300px) {
    .credencial {
        max-width: 100%;
    }
    .nombre-apellido,
    .dni,
    .vencimiento {
        font-size: clamp(6px, 5vw, 10px);
    }
  }
  
  @media (min-width: 600px) {
    .credencial {
        max-width: 320px;
    }
    
    .nombre-apellido,
    .dni,
    .vencimiento {
      font-size: clamp(6px, 1.8vw, 12px);
    }
  }
  
  button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  