.credencial-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
    padding: 10px;
}
  
  .credencial {
    width: 100%;
    max-width: 320px;
    aspect-ratio: 1.5;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
    font-size: 3.8vw;
  }
  
  .credencial-background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 8px;
    object-fit: cover;
  }
  
  .nombre-apellido {
    position: absolute;
    top: 26%;
    left: 52%;
    font-size: clamp(3px, 1em, 16px);
    color: #000;
    transform: translateX(-50%);
    white-space: nowrap;
    font-family: Arial, sans-serif;
  }
  
  .dni {
    position: absolute;
    top: 39%;
    left: 52%;
    font-size: clamp(3px, 1em, 15px);
    color: #000;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    font-family: Arial, sans-serif;
  }
  
  .socio {
    position: absolute;
    top: 46%;
    left: 52%;
    font-size: clamp(3px, 1em, 15px);
    color: #000;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    font-family: Arial, sans-serif;
  }

  .vencimiento {
    position: absolute;
    bottom: 0%;
    right: 4%;
    font-size: clamp(3px, 1em, 14px);
    color: #000;
    white-space: nowrap;
    font-family: Arial, sans-serif;
  }
  
  /* @media (max-width: 300px) {
    .credencial {
        max-width: 100%;
    }
    .nombre-apellido,
    .dni,
    .socio,
    .vencimiento {
        font-size: clamp(6px, 5vw, 10px);
    }
  } */
  
  /* @media (min-width: 600px) {
    .credencial {
        max-width: 320px;
    }
    
    .nombre-apellido,
    .dni,
    .socio,
    .vencimiento {
      font-size: clamp(6px, 1.8vw, 12px);
    }
  }
  
  @media (max-width: 600px) {
    .credencial-container {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .credencial {
        width: 100vh;
        max-width: none;
        transform: rotate(90deg) translateX(0%) translateY(calc(0%));
        transform-origin: center center;
    }

    .credencial-background {
        width: 100%;
        height: auto;
    }

    .nombre-apellido, .dni, .vencimiento, .socio {
        font-size: clamp(6px, 5vw, 10px);
    }
  } */
  
  button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  