<div class="credencial-container">
    <button *ngIf="showFullscreenButton" 
            (click)="toggleFullScreen()" 
            class="full-screen-button">Pantalla Completa</button>
    <button *ngIf="showModalButton"
            (click)="openModal()"
            class="modal-button">Ver Credencial</button>
    <div class="credencial" 
         [style.max-width.px]="originalWidth + 200"
         (click)="showButton()">
      <!-- Imagen de fondo -->
      <img [src]="backgroundImage" alt="Credencial Background" class="credencial-background">
      <!-- Contenido superpuesto -->
      <div class="credencial-content">
        <div class="nombre-apellido">{{ nombre }} {{ apellido }}</div>
        <div class="dni">{{ dni }}</div>
        <div class="socio"> {{socio}}</div>
        <div class="vencimiento">{{ vencimiento }}</div>
      </div>
    </div>
</div>