<div class="sidebar">
    <div class="logo">
        <i class="fas fa-university"></i>
        <span>Banco Virtual</span>
    </div>
    
    <nav class="menu">
        <ul>
            <li>
                <a href="#"><i class="fas fa-home"></i> Dashboard</a>
            </li>
            <li>
                <a href="#"><i class="fas fa-user"></i> Mi Perfil</a>
            </li>
            <li>
                <a href="#"><i class="fas fa-money-bill-wave"></i> Cuentas</a>
            </li>
            <li>
                <a href="#"><i class="fas fa-exchange-alt"></i> Transferencias</a>
            </li>
            <li>
                <a href="#"><i class="fas fa-history"></i> Movimientos</a>
            </li>
            <li>
                <a href="#"><i class="fas fa-cog"></i> Configuración</a>
            </li>
            <li>
                <a href="#"><i class="fas fa-sign-out-alt"></i> Cerrar Sesión</a>
            </li>
        </ul>
    </nav>
</div>
